html{
    font-family: 'Roboto Mono', monospace;
    background-image: linear-gradient(#192231, #985E6D);
}

body{
    overflow-x: hidden;
}

.section{
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    color: #FFF; 
}

.regularp{
    margin: auto;
    position: relative;
    text-align: center;
    top: 45%;
    width: 100%;
}

.name{
    font-size: 10vh;
}

.subline{
    width: 50%;
    text-align: center;
    font-size:2vh;
}

.subname{
    font-size: 5vh;
}

.subtext{
    width: 50%;
    text-align: left;
    font-size: 2vh;
}

.oracle{
    background-image: url("images/bristol.png");
    background-size: 100vw 100vh;
}

.university{
    background-image: url("images/university.jpeg");
    background-size: 100vw 100vh;
}

.programmingsect{
    margin: auto;
    position: relative;
    align-content: center;
    top: 10%;
    width: 60%;
}

.icon{
    width: 190px;
    height: 200px;
}

.language-experience{
    float: left;
    margin-left: 210px;
}

.language-text{
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    padding-left: 300px;
    padding-bottom: 100px;
    font-size: 2.5vh;
}

.contact{
    width: 190px;
    height: 200px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    padding-left: 50px;
}

.contact:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.contact-title{
    top: 20%;
    font-size: 8vh;
}

.contactsect{
    margin: auto;
    position: relative;
    align-content: center;
    top: 30%;
    width: 40%;
}